body{
  background-color: rgb(223, 217, 236);
  margin-bottom: 2rem;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
h1{
  font-size: 2rem;
  margin: 1.5rem 0;
  text-align: center;
}
.heading{
  text-shadow: 2px 2px 4px rgba(78, 74, 90, 0.8);
}

.logo{
  vertical-align: middle;
  width: 6rem;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #ffffff;
}

.button {
  font-size: 1.2rem;
  background-color: rgb(78, 133, 221);
  border-radius: 8px;
  border: darkblue;
  padding: 10px;
  width: 100px;
  margin: 1rem 0;
  font-weight: 550;
}

.typing-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  margin: 1rem 2rem;
}

.word {
  padding: 2px 4px;
  background-color: #ffffff;
}

.current-word {
  background-color: #ffc32d;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.stat-item {
  font-size: 1.2rem;
}
.CK {
  color:green;
  font-weight: 600;
}
.IK{
  color: red;
  font-weight: 600;
}
.A {
  color:rgb(39, 19, 171);
  font-weight: 600;
}

.results span {
  font-weight: bold;
}

